<?xml version="1.0" encoding="UTF-8"?>
<!--

Desenvolvido por:

 ▓██   ██▓ █    ██  ██▀███   ██▓     █████▒▄▄▄       ██▀███   ██▓ ▄▄▄        ██████ 
 ▒██  ██▒ ██  ▓██▒▓██ ▒ ██▒▓██▒   ▓██   ▒▒████▄    ▓██ ▒ ██▒▓██▒▒████▄    ▒██    ▒ 
  ▒██ ██░▓██  ▒██░▓██ ░▄█ ▒▒██▒   ▒████ ░▒██  ▀█▄  ▓██ ░▄█ ▒▒██▒▒██  ▀█▄  ░ ▓██▄   
  ░ ▐██▓░▓▓█  ░██░▒██▀▀█▄  ░██░   ░▓█▒  ░░██▄▄▄▄██ ▒██▀▀█▄  ░██░░██▄▄▄▄██   ▒   ██▒
  ░ ██▒▓░▒▒█████▓ ░██▓ ▒██▒░██░   ░▒█░    ▓█   ▓██▒░██▓ ▒██▒░██░ ▓█   ▓██▒▒██████▒▒
   ██▒▒▒ ░▒▓▒ ▒ ▒ ░ ▒▓ ░▒▓░░▓      ▒ ░    ▒▒   ▓▒█░░ ▒▓ ░▒▓░░▓   ▒▒   ▓▒█░▒ ▒▓▒ ▒ ░
 ▓██ ░▒░ ░░▒░ ░ ░   ░▒ ░ ▒░ ▒ ░    ░       ▒   ▒▒ ░  ░▒ ░ ▒░ ▒ ░  ▒   ▒▒ ░░ ░▒  ░ ░
 ▒ ▒ ░░   ░░░ ░ ░   ░░   ░  ▒ ░    ░ ░     ░   ▒     ░░   ░  ▒ ░  ░   ▒   ░  ░  ░  
 ░ ░        ░        ░      ░                  ░  ░   ░      ░        ░  ░      ░  
 ░ ░                                                                               
 
 Maio / 2015 
 Yuri Farias
 yuri.root@gmail.com
 relampagomagico.com.br
  -->
<configuration>
  <appSettings>
    <add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;" />
  </appSettings>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ChartImageHandler" />
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </handlers>
       <!--  <httpErrors defaultPath="/error.html" defaultResponseMode="ExecuteURL" />-->
  </system.webServer>
  <connectionStrings>
    <add name="WhatsUpMatriz" connectionString="Data Source=192.168.121.121;Initial Catalog=WhatsUp;Persist Security Info=True;User ID=noc_planilhas;Password=linx@2014"
      providerName="System.Data.SqlClient" />
    <add name="WhatsUpSaaS" connectionString="Data Source=189.36.4.7;Initial Catalog=WhatsUp;Persist Security Info=True;User ID=noc_planilhas;Password=linx@2014"
      providerName="System.Data.SqlClient" />
    <add name="WhatsUpItaim" connectionString="Data Source=wug.microvix.com.br;Initial Catalog=WhatsUp;Persist Security Info=True;User ID=noc_planilhas;Password=linx@2014"
      providerName="System.Data.SqlClient" />
    <add name="WhatsUpCyber" connectionString="Data Source=172.16.160.200;Initial Catalog=WhatsUp;Persist Security Info=True;User ID=noc_planilhas;Password=linx@2014"
      providerName="System.Data.SqlClient" />
    <add name="LinxDashNocStr" connectionString="Data Source=192.168.121.121;Initial Catalog=Linx_Dashs;User ID=NOC_DASHS_RW;Password=igH.2345"
      providerName="System.Data.SqlClient" />
    <add name="JupiterConnectionString" connectionString="Data Source=a-srv67;Initial Catalog=Jupiter;Persist Security Info=True;User ID=svc_wug;Password=Wh4ts-n0c"
      providerName="System.Data.SqlClient" />
    <add name="WhatsUpUberlandia" connectionString="Data Source=186.251.90.246;Initial Catalog=WhatsUp;Persist Security Info=True;User ID=noc_planilhas;Password=linx@2014"
      providerName="System.Data.SqlClient" />
    <add name="PoaWhatsUpConnectionString" connectionString="Data Source=DIRECAO193\SQLEXPRESS;Initial Catalog=WhatsUp;Persist Security Info=True;User ID=noc_planilhas;Password=linx@2014"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false" />
    </httpHandlers>
    <pages>
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </controls>
    </pages>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5" />
        <customErrors defaultRedirect="/error.html" />
    <!--  <customErrors defaultRedirect="error.html" />-->
  </system.web>
</configuration>